body{
    background: #212121;
    text-align: center;
    color: white;
}
table{
    border-collapse: collapse;
}
table td,th{
    border: 1px solid yellow;
    padding: 5px;
}
a{
    text-decoration: none;
    color: red;
}
input[type="submit"]{
    font-weight: bold;
    cursor: pointer;
}
input,select{
    border: 1px solid yellow;
    background: #212121;
    color: yellow;
}
#question,#answer { width: 250px; }